body{
	font-family:sans-serif;
}
.nav-list{
	list-style-type:none;
}
.nav-list li{
	padding:5px;
	border:1px solid #666;
	border-bottom:0;
	display:inline;
}
.container{
	padding:10px;
	margin:0 auto;
	width:95%;
}
.site{
	border:1px solid #666;
}